In [1]:
import pandas as pd
df = pd.read_csv('01 renewable-share-energy.csv')
# or for Excel: pd.read_excel('renewable_energy.xlsx')
df.head()

   Entity Code  Year  Renewables (% equivalent primary energy)
0  Africa  NaN  1965                                  5.747495
1  Africa  NaN  1966                                  6.122062
2  Africa  NaN  1967                                  6.325731
3  Africa  NaN  1968                                  7.005293
4  Africa  NaN  1969                                  7.956088

In [2]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5603 entries, 0 to 5602
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Entity                                    5603 non-null   object
 1   Code                                      4292 non-null   object
 2   Year                                      5603 non-null   int64
 3   Renewables (% equivalent primary energy)  5603 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 175.2+ KB
None
              Year  Renewables (% equivalent primary energy)
count  5603.000000                               5603.000000
mean   1993.800821                                 10.735585
std      16.283556                                 12.923945
min    1965.000000                                  0.000000
25%    1980.000000                                  1.980135
50%    1994.000000                                  6.522184
75%    2008.000000                                 14.099622
max    2021.000000                                 86.874535

In [ ]:
print(df.isnull().sum())